body{
    color:#434455;
    font-family: "Roboto", sans-serif;
    background-color: #FFF;
    font-size: 16px;
    line-height: 24px;
}


.link {
   letter-spacing: 0.02em;
   font-weight: 500;
   color: #2E2F42;
   display: inline-flex;
   align-items: flex-start;
   gap: 40px;
} 
 .link:hover,
 .link:focus {
    color: #404BBF;
   text-decoration: underline;
 }

.contacts{
   color: #434455;
}
  
.contacts:hover,
.contacts:focus {
   color: #404BBF;
}


 .write-us{
   font-style: normal;
 }
 .main-title{
   color: #FFF;
   text-align: center;
   font-family: Roboto;
   font-size: 56px;
   font-weight: 700;
   line-height: 1.07;
   letter-spacing: 1.12px;
}

 .top{
   background: #2E2F42;
   height: 600px;
   width: 100%;
   flex-shrink: 0;
 }

 .main-btn{
   color:  #FFF;
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.64px;
   display: inline-flex;
   padding: 16px 32px;
   align-items: flex-start;
   gap: 10px;
   cursor: pointer;
   border-radius: 4px;
   background: var(--iris, #4D5AE5);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 }

   .main-btn:hover, .main-btn:focus{
      border-radius: 4px;
      background: var(--ocean, #404BBF);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   
   }
 
   .hiden-title {
      color:#FFF;
   }

   
 .title-two{
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.72px;
   text-transform: capitalize;
 }

 .submain-title{
   font-size: 20px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0.4px;
}

.text{
   letter-spacing: 0.02em;
   color:#434455;
   font-size: 16px;
}
 .our-team{
   background:  #F4F4FD;
   flex-shrink: 0;}

.about-team{
   background-color: #FFFFFF;

}


  li a{
   text-decoration: none;
 }
   


  li {
    list-style-type: none;}

   .logo{
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.54px;
      text-transform: uppercase;
   }

  .logo-one{
    color: #4d5ae5;   
      }
    
   .logo-two{
        color: #2e2f42;
    }

   .logo-two-footer{
        color:#f4f4fd;  
    }

 .footer-text{
    color: #F4F4FD;
    font-family: Roboto;
    letter-spacing: 0.32px;
    width: 264px;
 }

 .footer{
    background: #2E2F42;
    width: 100%;
    height: 312px;
 }